---
import Image from './Image.astro';

const { title, image, alt, telephone } = Astro.props;
---

<div class='location__container'>
  <p>{title}</p>
  <Image src={image} alt={alt} />
  <a href=`tel:${telephone}`>
    <i class='fa-solid fa-phone'></i>
    <span>{telephone}</span>
  </a>
  <br />
  <a href='../pages/locations'>
    <i class='fa-solid fa-location-dot'></i>
    <span>Hours & Directions</span>
  </a>
</div>

<style>
  .location__container {
    padding: 1rem;
  }

  img {
    height: auto;
    align-self: center;
  }

  p {
    margin-top: 32px;
  }

  a {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
  }

  i {
    width: 16px;
    height: 16px;
  }
</style>
